<div class="container">
  <form action="/skills" method="post">
    <p> Add a skill </p>
    Category: <input type="select" name="skill[context]" value="e.g. technical, creative">  
    Name: <input type="text" name="skill[name]"><br>
    <input type="submit" value="Next">
   </form><br>
</div>





